/* Flickering animation */
@keyframes flickerText {  
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
  }
  20%, 24%, 55% {        
    text-shadow: none;
  }    
}

@keyframes flickerArrow {  
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    filter:
      drop-shadow(0 0 1px #fff)
      drop-shadow(0 0 3px #fff)
      drop-shadow(0 0 9px #fff)
      drop-shadow(0 0 7px #0fa)
      drop-shadow(0 0 10px #0fa)
      drop-shadow(0 0 20px #0fa)
      drop-shadow(0 0 40px #0fa)
      drop-shadow(0 0 80px #0fa);
  }
  20%, 24%, 55% {        
    filter: none;
  }
}

@keyframes flickerBorder {  
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    box-shadow:
      0 0 1px #fff,
      0 0 3px #fff,
      0 0 9px #fff,
      0 0 10px #0fa,
      0 0 20px #0fa,
      0 0 30px #0fa,
      0 0 60px #0fa,
      0 0 90px #0fa;
  }
  20%, 24%, 55% {        
    box-shadow: none;
  }    
}
