.return-btn {
  animation: flickerText 1.5s linear 5s infinite alternate;
  background-color: transparent;
  border-style: none;
  color: white;
  font-size: 30px;
  letter-spacing: 0.2rem;
  position: fixed;
  right: 50px;
  z-index: 4;
}

.about-btn:hover {
  cursor: pointer;
}

.about-btn:hover p{
  animation: none;
  text-shadow:
  0 0 4px #fff,
  0 0 11px #fff,
  0 0 19px #fff,
  0 0 40px #0fa,
  0 0 80px #0fa,
  0 0 90px #0fa,
  0 0 100px #0fa,
  0 0 150px #0fa;
}