.App {
  background-image: url('./assets/bg.png');
  background-size: auto;
  color: white;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.home-page {
  background-image: url('./assets/bg.png');
  height: 200vh;
  width: 100%;
}

.home-page-part2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 108vh;
  justify-content: center;
  margin-top: 250px;
  width: 100%;
}

.about-page, .project-details-page, .all-projects {
  height: 100vh;
  overflow: hidden;
  width: 100%;
}