@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;500&family=Jura:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

p {
  font-family: 'Jura', sans-serif, monospace;
}
